<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <style>
        .image {
            display: block;
            width: 400px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            margin: 0 auto;
        }
        .header {
            clear: both;
        }
    </style>
</head>
<body>

<% function printDate(date) {
    const utcDate = new Date(date.toUTCString()); // конвертирование даты в UTC
    const options = { timeZone: process.env.TIMEZONE || 'UTC' }; // название часового пояса

    return utcDate.toLocaleString('ru-RU', options);
} %>

<div class="list">
    <h2 class="header"><%= printDate(new Date(item.date * 1000)) %></h2>
    <img class="image" src="<%= item.thumbnail %>" />
</div>

</body>
</html>
