<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geo</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2661b71b-901a-472e-ba03-d64a32a19b38&lang=en_US" type="text/javascript"></script>
    <style>
        #map {
            width: 100%;
            height: 400px;
            position: fixed;
            bottom: 0;
            left: 0;
        }
        .list {
            margin-bottom: 500px;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script type="text/javascript">
    const items = window.items = <%- JSON.stringify(items) %>;
    // The ymaps.ready() function will be called when
    // all the API components are loaded and the DOM tree is generated.
    ymaps.ready(init);
    function init(){
        // Creating the map.
        var myMap = new ymaps.Map("map", {
            // The map center coordinates.
            // Default order: “latitude, longitude”.
            // To not manually determine the map center coordinates,
            // use the Coordinate detection tool.
            center: [25.063383, 56.203139],
            // Zoom level. Acceptable values:
            // from 0 (the entire world) to 19.
            zoom: 7
        });

        var myCollection = new ymaps.GeoObjectCollection();

        for (const item of items) {
            var str2 = new ymaps.Placemark(
                [item.gps.lat, item.gps.lon],
                { iconCaption: item.FileName },
                { preset: 'islands#blueCircleDotIconWithCaption' }
            );
            str2.events.add('click', (e) => {
                document.getElementById(item.thumbnail).scrollIntoView();
            });

            myCollection.add(str2);
        }

        myMap.geoObjects.add(myCollection);
        myMap.setBounds(myCollection.getBounds());

        var line1 = new ymaps.Polyline(
            items.filter((item) => Boolean(item.gps)).map((item) => ([item.gps.lat, item.gps.lon])),
            {},
            {
                strokeWidth: 2,
                strokeColor: "#e61b1b"
            }
        );
        myMap.geoObjects.add(line1);
    }
</script>

<div class="list">
    <% for (const item of items) { %>
        <div class="item" id="<%= item.thumbnail %>" style="clear: left;height:100px;margin-bottom: 0.5em;">
            <img src="<%= item.thumbnail %>" style="float: left;margin-right: 1em;height:98px;" />
            <p>
                <b><%= item.files.map(file => file.FileName).join(', ') %></b>
                <br />
                Date: <%= (item.date ? new Date(item.date * 1000) : new Date()).toISOString() %>
                <% if (item.gps) { %>
                    <br />
                    GPS: <%= item.gps.lat %>, <%= item.gps.lon %>
                <% } %>
            </p>
        </div>
    <% } %>
</div>

</body>
</html>
